<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Update Post</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/new.css">
</head>
<body>

  <%- include('../partials/_navbar.ejs') %>

  <div class="page-content">

    <div class="create-page">

      <div class="create-left">
        <div class="create-left-content">
          <h1>Edit Your Post</h1>
          <p>
            Update your content, improve clarity, or add new images to keep
            your post fresh and helpful for the community.
          </p>
        </div>
      </div>

      <div class="create-right">
        <div class="form-container">
          <h2>Update Post</h2>
          <form action="/posts/<%= currentPost._id %>?_method=PUT" method="POST" enctype="multipart/form-data">

            <label>Author: <%= user.username %></label>

            <label for="title">Post title:</label>
            <input type="text" id="title" name="title" value="<%= currentPost.title %>" required/>

            <label for="body">Post content:</label>
            <textarea name="body" id="body" required><%= currentPost.body %></textarea>

            <label for="images" class="file-upload">Add more images: (optional)</label>
            <input type="file" name="images" multiple/>

            <label for="createdAt">Publish date</label>
            <input type="datetime-local" name="createdAt" id="createdAt" value="<%= dateTime %>"/>

            <button type="submit">Update Post</button>

          </form>

        </div>
      </div>

    </div>

  </div>

</body>
</html>
