<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/posts.css">
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>

  <div class="page-content">

    <div class="banner-img">
      <div class="banner-container">
        <h1 class="Welcome-msg">Discover What Gamers Are Talking About</h1>
        <p class="slogan">Reviews, guides, and discussions written by gamers, for gamers.</p>
        
        <% if (user) { %>
          <button class="posts-btn"></button>
            <a href="/posts/new">Create a post</a>
          </button>
        <% } %>
        
      </div>
    </div>

    <div class="site-info posts-grid">

      <% allPosts.forEach((post) => { %>
        <div class="info-card">
          <a href="/posts/<%= post._id %>" class="card-link"></a>
          <h3 class="post-title">
            <a href="/posts/<%= post._id %>"><%= post.title %> </a>
            <p class="post-author">Created by: <%= post.author.username %></p>
            <p class="post-date">
              <%= post.createdAt.toLocaleString('en-BH', {
                dateStyle: 'medium',
                timeStyle: 'short'
              }) %>
            </p>
          </h3>
        </div>
      <% }) %>

    </div>

  </div>

</body>
</html>