<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View post</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>

  <h1><%= currentPost.title %></h1>
  <p><%= currentPost.body %></p>
  <p>Posted on: <%= formattedDate %> by <%= currentPost.author.username %></p>

  <% if (user && currentPost.author._id.toString() === user._id.toString()) { %>
    <form action="/posts/<%= currentPost._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete Post</button>
    </form>
    <a href="/posts/<%= currentPost._id %>/edit">
      <button>Update Post</button>
    </a>
  <% } %>

  <% if(user) { %>
    <form action="/posts/<%= currentPost._id %>/comments" method="POST">

      <input type="hidden" name="commenter" value="<%= user._id %>">
      
      <label for="text">Comment: </label>
      <textarea name="text" id="text" placeholder="Leave a comment ....."></textarea>

      <input type="hidden" name="createdAt" id="createdAt" value="<%= dateTime %>">

      <button type="submit">Post comment</button>

    </form>
  <% } else {%>
    <p><a href="/auth/sign-in">Sign in</a> to join the discussion</p>
  <% } %>

  <% currentPost.comments.forEach((comment) => { %>
    <p><%= comment.commenter.username %> says: <%= comment.text %></p>

    <% if(comment.commenter._id.equals(user._id) || currentPost.author._id.equals(user._id)) { %>
      <form action="/posts/<%= currentPost._id %>/comments/<%= comment._id %>/?_method=DELETE" method="POST">
        <button type="submit">Delete comment</button>
      </form>
      
      <% if(comment.commenter._id.equals(user._id)) { %>
        <a href="/posts/<%= currentPost._id %>/comments/<%= comment._id %>/edit">
          <button>Update comment</button>
        </a>
      <% } %>
    <% } %>

  <% }) %>

</body>
</html>