<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View post</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>

  <h1><%= currentPost.title %></h1>
  <% if (currentPost.images && currentPost.images.length) { %>

    <div class="post-images">
      <% currentPost.images.forEach(img => { %>
        <img src="<%= img %>" alt="Post image" />
      <% }) %>
    </div>

  <% } %>
  <p><%= currentPost.body %></p>
  <p>Posted on: <%= formattedDate %> by <%= currentPost.author.username %></p>

  <h2>Likes</h2>
  <p>Liked by <%= currentPost.favoritedByUsers.length %> people.</p>

  <% if(user && !userHasFavorited) { %>
    <form action="/posts/<%= currentPost._id %>/favorited-by/<%= user._id %>" method="POST">
      <button type="submit">Like post!</button>
    </form>
  <% }%>

  <% if(userHasFavorited) { %>
    <form action="/posts/<%= currentPost._id %>/favorited-by/<%= user._id %>?_method=DELETE" method="POST">
      <button type="submit">Unlike Post</button>
    </form>
  <% }%>

  <% if (user && currentPost.author._id.toString() === user._id.toString()) { %>
    <form action="/posts/<%= currentPost._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete Post</button>
    </form>
    <a href="/posts/<%= currentPost._id %>/edit">
      <button>Update Post</button>
    </a>
  <% } %>

  <% if(user) { %>
    <form action="/posts/<%= currentPost._id %>/comments" method="POST">

      <input type="hidden" name="commenter" value="<%= user._id %>">
      
      <label for="text">Comment: </label>
      <textarea name="text" id="text" placeholder="Leave a comment ....." required></textarea>

      <input type="hidden" name="createdAt" id="createdAt" value="<%= dateTime %>">

      <button type="submit">Post comment</button>

    </form>
  <% } else {%>
    <p><a href="/auth/sign-in">Sign in</a> to join the discussion</p>
  <% } %>

  <% currentPost.comments.forEach((comment) => { %>
    <p><%= comment.commenter ? comment.commenter.username : 'Unknown' %> says: <%= comment.text %></p>

    <% if (user && comment.commenter && comment.commenter._id.equals(user._id) || user && currentPost.author._id.equals(user._id)) { %>
      <form action="/posts/<%= currentPost._id %>/comments/<%= comment._id %>/?_method=DELETE" method="POST">
        <button type="submit">Delete comment</button>
      </form>
      
      <% if(comment.commenter && comment.commenter._id.equals(user._id)) { %>
        <a href="/posts/<%= currentPost._id %>/comments/<%= comment._id %>/edit">
          <button>Update comment</button>
        </a>
      <% } %>
    <% } %>

  <% }) %>

</body>
</html>