<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit comment</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/new.css">
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>

  <div class="page-content">

    <div class="create-page">

      <div class="create-left">
        <div class="create-left-content">
          <h1>Edit your comment</h1>
          <p>Update your thoughts or fix a typo before others read it.</p>
        </div>
      </div>

      <div class="create-right">
        <div class="form-container">
          <h2>Edit Comment</h2>
          <form action="/posts/<%= currentPost._id %>/comments/<%= currentComment._id %>?_method=PUT" method="POST">
            
            <input type="hidden" name="commenter" value="<%= user._id %>">
            <input type="hidden" name="createdAt" value="<%= dateTime %>">

            <label for="text">Comment:</label>
            <textarea name="text" id="text" required ><%= currentComment.text %></textarea>

            <button type="submit">Update comment</button>

          </form>

          <a href="/posts/<%= currentPost._id %>" class="form-cancel">
            Cancel
          </a>

        </div>
      </div>

    </div>

  </div>
</body>
</html>